package main

import (
    "strconv"

    "github.com/DIMO-Network/tesla-vss/pkg/unit"
	"github.com/teslamotors/fleet-telemetry/protos"
	"github.com/DIMO-Network/model-garage/pkg/vss"
)

func ProcessPayload(payload *protos.Payload) ([]vss.Signal, []error) {
    var out []vss.Signal
    var outErr []error

    ts := payload.GetCreatedAt().AsTime()

    for _, d := range out.GetData() {
        {{- range .Conversions}}
        if d.GetKey() == protos.Field_{{.TeslaField}} {
            if v, ok := d.GetValue().(*protos.{{.WrapperName}}); ok {
                val, err := Convert{{.TeslaField}}To{{.GoVSSSignalName}}Outer(v.{{.WrapperFieldName}})
                if err != nil {
                    outErr = append(outErr, err)
                } else {
                    sig := vss.Signal{
                        Name:      "{{.JSONName}}",
                        Timestamp: ts,
                    }
                    sig.SetValue(val)
                    out = append(out, sig)
                }
            }
        }
        {{- end}}
    }

    return out, outErr
}

{{range .Conversions}}
func Convert{{.TeslaField}}To{{.GoVSSSignalName}}Outer(wrap {{.OuterInputType}}) ({{.OutputType}}, error) {
    {{- if .ParseFloat}}
    fp, err := strconv.ParseFloat(wrap, 64)
    if err != nil {
        var tmpOut {{.OutputType}}
        return tmpOut, fmt.Sprintf("failed to parse float: %w", err)
    }
    {{if .UnitFunc}}
    fp = unit.{{.UnitFunc}}(fp)
    {{end}}
    return Convert{{.TeslaField}}To{{.GoVSSSignalName}}Inner(fp)
    {{- else}}
    return Convert{{.TeslaField}}To{{.GoVSSSignalName}}Inner(wrap)
    {{- end}}
}
{{end}}