package {{.Package}}

import (
    "github.com/DIMO-Network/tesla-vss/pkg/unit"
	"github.com/teslamotors/fleet-telemetry/protos"
)

{{range .Conversions}}
// Convert{{.TeslaField}}{{.TeslaTypeName}}To{{.GoVSSSignalName}} converts a telemetry datum with key {{.TeslaField}} to the VSS signal {{.GoVSSSignalName}}.
func Convert{{.TeslaField}}{{.TeslaTypeName}}To{{.GoVSSSignalName}}(val {{.InnerInputType}}) ({{.OutputType}}, error)
    {{- if .Body -}}
    {{- .Body -}}
    {{- else -}}
    {
    {{- if eq .InnerInputType .OutputType}}
    return val, nil
    {{- else}}
    panic("not implemented")
    {{- end}}
    }
    {{- end}}
{{end}}
